.netfree-option, .authorized-option{
    display: flex;
}
.netfree-option input[type="radio"], .authorized-option input[type="radio"] {
    margin-right: 5px;
}
.netfree-option label, .authorized-option label {
    margin: 0;
}
.netfree-option-box, .authorized-option-box{
    display: flex;
    flex-direction: column;
}

#aspaklaryaimages-netfree-form button{
    margin: 5px;
    padding: 5px;
}